a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
