a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.table {
  border-collapse: collapse;
  border: 1px black solid;

  tr,
  th,
  td {
    border: 1px black solid;
  }
}

main.content {
  padding: 15px;
}

@media screen and (max-width: 992px) {
  main.content {
    padding: 8px;
  }
}

.custom-input {
  margin-bottom: 8px;

  position: relative;

  label {
    position: absolute;
    top: -10px;
    left: 8px;

    font-size: 11px;

    display: inline-block;

    background-color: #fff;
    padding: 4px 8px;
  }

  input {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 45px;

    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #9e9e9e;

    &.error {
      border: 1px solid #f44336;
    }
  }

  .error-message {
    display: block;
    margin-top: 6px;

    color: #f44336;
    font-size: 10px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.custom-checkbox {
  display: flex;
  align-items: center;

  height: 48px;
  width: 240px;

  padding: 0 8px;
  margin-bottom: 16px;

  input {
    width: 30px;
    height: 100%;
    cursor: pointer;
  }

  label {
    display: flex;
    align-items: center;

    padding-left: 4px;

    height: 100%;
    width: 100%;

    cursor: pointer;
  }

  @media screen and (max-width: 992px) {
    border: 1px solid #81d4fa;
    border-radius: 8px;
  }
}

// Common classes
.d-flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.hide {
  display: none;
}

.flex {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
  flex-grow: 0;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .d-flex-md {
    display: flex;
  }

  .block-md {
    display: block;
  }

  .inline-block-md {
    display: inline-block;
  }

  .inline-md {
    display: inline;
  }

  .hide-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .d-flex-sm {
    display: flex;
  }

  .block-sm {
    display: block;
  }

  .inline-block-sm {
    display: inline-block;
  }

  .inline-sm {
    display: inline;
  }

  .hide-sm {
    display: none;
  }
}

.gap-sm {
  gap: 10px;
}

.gap-md {
  gap: 15px;
}

.gap-lg {
  gap: 25px;
}

.gap-row-sm {
  row-gap: 10px;
}

.gap-row-md {
  row-gap: 15px;
}

.gap-row-lg {
  row-gap: 25px;
}

.gap-col-sm {
  column-gap: 10px;
}

.gap-col-md {
  column-gap: 15px;
}

.gap-col-lg {
  column-gap: 25px;
}

.col-12 {
  width: 100%;
  flex-grow: 1;
}

.col-11 {
  width: 91.66667%;
  flex-grow: 1;
}

.col-10 {
  width: 83.33333%;
  flex-grow: 1;
}

.col-9 {
  width: 75%;
  flex-grow: 1;
}

.col-8 {
  width: 66.66667%;
  flex-grow: 1;
}

.col-7 {
  width: 58.33333%;
  flex-grow: 1;
}

.col-6 {
  width: 50%;
  flex-grow: 1;
}

.col-5 {
  width: 41.66666%;
  flex-grow: 1;
}

.col-4 {
  width: 33.33333%;
  flex-grow: 1;
}

.col-3 {
  width: 25%;
  flex-grow: 1;
}

.col-2 {
  width: 16.66667%;
  flex-grow: 1;
}

.col-1 {
  width: 8.33333%;
  flex-grow: 1;
}

@media screen and (max-width: 992px) {
  .col-md-12 {
    width: 100%;
    flex-grow: 1;
  }

  .col-md-11 {
    width: 91.66667%;
    flex-grow: 1;
  }

  .col-md-10 {
    width: 83.33333%;
    flex-grow: 1;
  }

  .col-md-9 {
    width: 75%;
    flex-grow: 1;
  }

  .col-md-8 {
    width: 66.66667%;
    flex-grow: 1;
  }

  .col-md-7 {
    width: 58.33333%;
    flex-grow: 1;
  }

  .col-md-6 {
    width: 50%;
    flex-grow: 1;
  }

  .col-md-5 {
    width: 41.66666%;
    flex-grow: 1;
  }

  .col-md-4 {
    width: 33.33333%;
    flex-grow: 1;
  }

  .col-md-3 {
    width: 25%;
    flex-grow: 1;
  }

  .col-md-2 {
    width: 16.66667%;
    flex-grow: 1;
  }

  .col-md-1 {
    width: 8.33333%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
    flex-grow: 1;
  }

  .col-sm-11 {
    width: 91.66667%;
    flex-grow: 1;
  }

  .col-sm-10 {
    width: 83.33333%;
    flex-grow: 1;
  }

  .col-sm-9 {
    width: 75%;
    flex-grow: 1;
  }

  .col-sm-8 {
    width: 66.66667%;
    flex-grow: 1;
  }

  .col-sm-7 {
    width: 58.33333%;
    flex-grow: 1;
  }

  .col-sm-6 {
    width: 50%;
    flex-grow: 1;
  }

  .col-sm-5 {
    width: 41.66666%;
    flex-grow: 1;
  }

  .col-sm-4 {
    width: 33.33333%;
    flex-grow: 1;
  }

  .col-sm-3 {
    width: 25%;
    flex-grow: 1;
  }

  .col-sm-2 {
    width: 16.66667%;
    flex-grow: 1;
  }

  .col-sm-1 {
    width: 8.33333%;
    flex-grow: 1;
  }
}

// Spacing Classes
.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 12px;
}

.p-3 {
  padding: 16px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 12px;
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 12px;
}

.pr-3 {
  padding-right: 16px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 12px;
}

.pt-3 {
  padding-top: 16px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 12px;
}

.pb-3 {
  padding-bottom: 16px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

// Text Classes
.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
